@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'DM Sans';
  transition: all 0.3s ease-in-out;
}

body {
  margin: 0;
  font-family: Poppins;
  background-color: #181818; /* Fundo escuro */
  color: #ffffff; /* Texto branco */
}

body::-webkit-scrollbar {
  width: 12%;
}

body::-webkit-scrollbar-track {
  background: #003686;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(255, 255, 255);
  border-radius: 20px;
  border: 3px solid #003686;
}

.navbar {              
  display: flex;
  align-items: center;
  width: 100%;
  height: 12%;
  position: fixed;
  top: 0;
  left: 0;
  transition: .5s;
  z-index: 100;
  
}

#navbar.rolagem {
  background-color: #8f0000; /* Vermelho escuro */
  
}

#navbar.rolagem a {
  color: rgb(255, 255, 255);
  }

  #navbar.rolagem span {
    color: rgb(255, 255, 255);
    }

    #navbar.rolagem svg {
      color: rgb(255, 255, 255);
      }

.navbar img {
  background-color: transparent;
  margin-top: 2vh;
  margin-left: 2vw;
  width: 15vh;
  height: 3vw;  
}

.banner {
  height: 100vh;
  background-image: url(imagem/fundoInic.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  left: 0;

}

.navbar .topicos {
  width: 60vw;
  margin-left: 20vw;
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  color: #ffffff; /* Texto branco */
  font-size: 1.5vw;
  position: fixed;
}

.topicos a:hover {
  color: #dd0000; /* Vermelho mais claro */
  font-size: 2vw;  
}

.container{
  text-align: center;
  padding-top: 3%;
  transition: transform .5s;
}

svg{
  width: 2vw;
  color: #ffffff; /* Texto branco */
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3% 0;
  
}

.iconeCarrinho{
  position: relative;
  cursor: pointer;
}

.iconeCarrinho :hover{
  color: #dd0000; /* Vermelho mais claro */
  cursor: pointer;
}

.iconeCarrinho span{
  position: absolute;
  border-radius: 50%;
  color: rgb(255, 255, 255);;
  top: 70%;
  left: 97.5%;
  cursor: pointer;
  
}

.listaProdutos{
  margin: 2vh 0;
  height: 150vh;
  width: 70vw;
  display: flex;
  justify-content: space-around;
  align-items: baseline;
  flex-wrap: wrap;
}

.listaProdutos .item img{
  background-size: cover;
  filter: drop-shadow(0px 6px 13px #0000007e);
  
}

.listaProdutos .item img .sobrepor {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #000; /* Fundo preto */
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease-in-out; 
}
  

.container-lista{
  display: flex;
  justify-content: center;
  align-items: center;
}


.listaProdutos .item{
  background-color: #282828; /* Cinza escuro */
  border-radius: 2%;
  height: 35vh;
  width: 15vw;
  -webkit-box-shadow: inset 0px 0px 136px -121px rgba(0,0,0,0.75);
  -moz-box-shadow: inset 0px 0px 136px -121px rgba(0,0,0,0.75);
  box-shadow: inset 0px 0px 136px -121px rgba(0,0,0,0.75);
  transform-style: preserve-3d;
  transition: transform 0.8s;

}
.listaProdutos .item:hover{
  transform: scale(1.07);
  box-shadow: 0 4px 8px rgba(255, 0, 0, 0.925); /* Vermelho */

}

.listaProdutos .item h2{
  font-size: 1vw;
  color: #ffffff; /* Texto branco */
}
.listaProdutos .item .preco{
  font-size: 0.9vw;
  color: #ffffff; /* Texto branco */
}
.listaProdutos .item button{
  background-color: #5f0000; /* Vermelho escuro */
  color: #eee; /* Cinza claro */
  border: none;
  font-size: 1vw;
  padding: 1% 3%;
  margin-top:2.5vh;
  border-radius: 0.5vw;

}

.listaProdutos .item button:hover{
  cursor: pointer;
  border: solid #d40000 1px; /* Vermelho */
  background-color: #ffffff; /* Branco */
  color: #d40000; /* Vermelho */

}


/* cart */
.tabelaCarrinho{
  width: 400px;
  background-color: #000000; /* Fundo preto */
  color: #ffffff; /* Texto branco */
  border: #d30000c0 solid 0.5px; /* Vermelho */
  position: fixed;
  top: 0;
  right: -400px;
  bottom: 0;
  display: grid;
  grid-template-rows: 70px 1fr 70px;
  transition: .5s;
  z-index: 101;
  
  
}


body.mostrarCarrinho .tabelaCarrinho{
  right: 0; 

}
body.mostrarCarrinho .container{
  transform: translateX(-250px);
  
}
.tabelaCarrinho h1{
  padding: 20px;
  margin: 0;
  font-weight: 300;
  color: #ffffff; /* Texto branco */
}
.tabelaCarrinho .btn{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.linha{
  height: 1px;
  width: 300px;
  background-color: #ffffff; /* Branco */
  margin-top: 50px;
  margin-left: 10%;
}


.tabelaCarrinho h3{
  font-size: 23px;
  margin-left: 40px;
  margin-bottom: 30px;
  font-weight: 300;
  color: #ffffff; /* Texto branco */
}
#totalCarrinho{
  margin-top: -8%;
  margin-left: 200px;
}

.tabelaCarrinho .close{
  background-color: #eee;
}

.listaCarrinho .item img{
  width: 100%;
}
.listaCarrinho .item{
  display: grid;
  grid-template-columns: 70px 150px 50px 1fr;
  gap: 10px;
  text-align: center;
  align-items: center;
}
 #a{
   text-decoration: none;
   color: rgb(0, 0, 0);
}
.listaCarrinho .quantidade span{
  display: inline-block;
  width: 25px;
  height: 25px;
  background-color: #eee;
  border-radius: 50%;
  color: #000000;
  cursor: pointer;
}
.listaCarrinho .quantidade span:nth-child(2){
  background-color: transparent;
  color: #ffffff; /* Branco */
  cursor: auto;
}
.listaCarrinho .item:nth-child(even){
  background-color: #eee1;
  
}
.listaCarrinho{
  overflow: auto;
  
}
.listaCarrinho::-webkit-scrollbar{
  width: 0;
}
@media only screen and (max-width: 992px) {
  .listaProdutos{
    grid-template-columns: repeat(3, 1fr);
  }
}




/* mobile */
@media only screen and (max-width: 768px) {
  .listaProdutos{
    grid-template-columns: repeat(2, 1fr);
  }
}


/*RODAPE*/


footer{
  height: 500px;
  width: 100%;
  background-color: #350000; /* Vermelho escuro */
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 180px;
}

.rodape{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 420px;
  width: 90%;
}
.rodape-cima{
  height: 150px;
  width: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
  gap: 100px;
  
}


#certificado{
  height: 80px;
  width: 160px;
  border: solid 2px black;
  border-radius: 10px;
}
.rodape-baixo{
  height: 300px;
  width: 85%;
  display: flex;
  justify-content: space-between;
  color: white; /* Texto branco */
  margin-top: 15px;
}
.email{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  height: 100px;
  width: 350px;
  margin-left: 10px;
  gap: 5px;
}
.email h2{
  color: white; /* Texto branco */
  font-size: 18px;
  height: 18px;
  width: 430px;
  margin-bottom: 5px;
}
.input-email input{
  height: 35px;
  width: 345px;
  border-radius: 8px 0 0 8px;
  background-color: white;   
  font-size: 17px;
}
.input-email button{
  height: 39px;
  width: 77px;
  text-align: center;
  border-radius: 0 8px 8px 0;
  font-size: 15px;
  background-color: #ba0000; /* Vermelho */
  color: #FFF; /* Branco */
}
.input-email{
  display: flex;
  justify-content: center;
}


.linha-rodape{
  height: 2px;
  width: 90%;
  background-color: white; /* Branco */
  margin-top: 5px;
}
.pagamento {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 230px;
  width: 400px;
  flex-direction: column;
  gap: 10px;
}
#pagamento{
  height: 80px;
  width: 130px;
  border-radius: 12px;
}
.copyright{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; /* Texto branco */
}
.rodape-copy{
  height: 80px;
  width: 100%;
  background-color: #6a0000; /* Vermelho escuro */
  display: flex;
  justify-content: center;
  align-items: center;
}
.listaProdutos .item img{
  width: 10vw;
  height: 10vw;
}
.redes-sociais{
  height: 200px;
  width: 220px;
}

#redeSocial{
  height: 55px;
  width: 55px;
}

/*--------------------------------------*/


.tabelaCarrinho button{
  background-color: #ffffff; /* Branco */
  font-size: 20px;
  color:#6a0000; /* Vermelho escuro */
  height: 80px;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  border: #6a0000 solid 1px; /* Vermelho escuro */
}

 .tabelaCarrinho button:hover{
  cursor: pointer;
  color: white; /* Branco */
  background-color: #6a0000; /* Vermelho escuro */     
  
}

section.slider1{
  margin: 0 auto;
  width: 100%;
  height: auto;
  padding: 0 !important;
  overflow: hidden;
}

.slider-content{
  width: 400%;
  height: auto;
  display: flex;
}

.slider-content input, .img-mobile{
  display: none;
}

.slide-box{
  width: 25%;
  height: auto;
  position: relative;
  text-align: center;
  transition: 1s;
}

.slide-box img{
width: 100%;
background-size: contain;
}

.nav-manual, .nav-auto{
  position: absolute;
  width: 100%;
  margin-top: 30.2%;
  display: flex;
  justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
  border: 1px solid #ffffff; /* Branco */
  padding: 10px;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
  margin-right: 10px;
}

.nav-manual .manual-btn:hover{
  background-color: #d10000; /* Vermelho */
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
  background-color: #6a0000; /* Vermelho escuro */

}


#radio1:checked ~ .primeiro{
  margin-left: 0%;
}

#radio2:checked ~ .primeiro{
  margin-left: -25%;
}

#radio3:checked ~ .primeiro{
  margin-left: -50%;
}

@media screen and (max-width: 900px) {
  .img-desktop{
    display: none;
  }

  .nav-auto, .nav-manual{
    margin-top: 60%;
  }
}


/*********************SCROLL*******************************************************************/



/*

             ..                     .''.
            c  '.          _,,    .'    '
           ,     ,   ___  7###. .'       '
          .       `-'   ''|####;#'. .##, .
          ,               '####.##,######.
         .                 '  ' '' ,####.
        '                           '##'.
       '                                .
__,,--.--                                '
      '                                  '
  .--|-        &&                        -'-'''-.._
     |         '&              &&         '
    __,-                       '&        -'---.
  ''  ,                                   ;
       .             kk.                 -.-,_
        -_           ''KK                ;
          ''--,_                        ,
                ''--,__           __,,--'
                       ''--..,--''     Pr59

*/
/*****************************SCROLL*********************************/

@keyframes appear {


  from{
  
  opacity: 0;
  scale: 0.5;
  
  }
  to {
  
  opacity: 10;
  scale: 1.0;
  
  }
  }
  
  .item{
  
  animation: appear linear;
  animation-timeline: view();
  animation-range: entry 0 ;
  
  }
/****************************************************************************/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    right: 5vw;
    top: 3%;
    position: fixed;
  }
  
  .theme-switch-wrapper span {
    position: absolute;
    width: 10vw;
    margin-right: 9vw;
    font-size: 1.5vw;
    margin-top: 0%;
  }
  
  .toggle-text {
    position: relative;
    right: 1vw;
    color: var(--on-background);
 
  }
  
  
  .theme-switch {
    display: inline-block;
    height: 6vh;
    position: relative;
    width: 6vw;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background: #00b185;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider::before {
    background: #fff;
    bottom: 1vh;
    content: "";
    height: 4vh;
    left: 0.4vw;
    position: absolute;
    transition: 0.4s;
    width: 2vw;
  }
  
  input:checked + .slider {
    background-color: #410000;
  }
  
  input:checked + .slider::before {
    transform: translateX(3vw);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round::before {
    border-radius: 50%;
  }
  
  .fas {
    font-size: 30px;
    margin-right: 5px;
  }
  

  


.email input { 
  background-color: #eee;
}

.email button { 
  color: #000;
  background-color: #eee; 
}

.input-email button{ 
  background-color: #ba0000;  /* Vermelho */
  color: #FFF; /* Branco */
}


/* ============================ */
.busca{
  display: flex;
  align-items: center;
  border: 1px solid #ba0000; /* Vermelho */
  background-color: #EEE;
  width: 400px;
  margin:20px auto;
  border-radius: 20px;
  padding: 5px 10px;
  color: black;
  }
  
  .busca button{
    text-decoration: none;
    border: none;
    cursor: pointer;
  }
  
  #buscaInput{
    padding: 8px;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
  }
  
  .busca label{
    height: 20px;
  }
  a{
    text-decoration: none;
    color: white; /* Branco */
  }
  .item hr{
    width: 80%;
    margin-left: 10%;
    opacity: 20%;
  }