@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    transition: all 0.3s ease-in-out; 
}

body {
    margin: 0;
    font-family: 'DM Sans';
    background-color: #ffffff;
    color: #333; 
}
.navbar {              
    display: flex;
    align-items: center;
    width: 100%;
    height: 9vh;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 100;
    background-color: #003686;
}



.navbar img {
    background-color: transparent;
    margin-top: 1vw;
    margin-left: 9vw;
    width: 10vw;
    height: 5vh;  
}
.banner {
height: 100vh;
background-image: url(imagem/fundoInic.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
top: 0;
left: 0;

}

.navbar .topicos {
    width: 60%;
    margin-left: 7.5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: #ffffff;
    font-size: 2vw;
    cursor: pointer;
}
.topicos a:hover {
    color: #ffffff;
    font-size: 25px;  
}
.container{
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}

svg{
    width: 30px;
    color: #ffffff;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
   
}
#a-sobreNos{
    text-decoration: none;
    color: white;
}

/*MENU DO PRODUTO OU SEI LA O NOME EU NÃO SEI*/

.containerProduct{
    margin-top: 150px;
    
}
.pagProd{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 75px;
}
.produtoImgInfo{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
    height: 48vh;
    width: 90%;
}
li{
    margin: 5px 5px ;
}
.especificao{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 48vh;
    width: 75%;
}
.especificao li{
    font-size: 2.30vh;
}
.especificao h1{
    font-size: 4.60vh;
}
.imagemProd{
    filter: drop-shadow(0 0 5px rgb(199, 199, 199));
    border-radius: 15px;
    height: 48vh;
    width: 38%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5vh;
    background-color: #f9f9f9;
}
.imagemProd img{
    height: 48vh;
    width: 60%;
}
.infoProd{
    
    height: 48vh;
    width: 38%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
    padding: 2.5vh;
}
.infoProd p{
    font-size: 2.30vh;
}
.infoProd h1{
    font-size: 4.60vh;
}
.infoProd span{
    font-size: 3.453vh;
}

.precoBtn{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 50px;
    gap: 15px;
}
.addCarrinho{
    height: 7.194vh;
    width: 11.71vw;
    border-radius: 10px;
    font-size: 16px;
    background-color: #00196A;
    color: white;
    border: none;
    cursor: pointer;
}
#addCarrinhoText{
    font-size: 2.30vh;
}
.addCarrinho:hover{
    background-color: white;
    color: #00196A;
    border: solid 1px #00196A;
    transition: 0.6s;
}

/*-----------RODAPE---------------*/


footer{
    height: 50vh;
    width: 100%;
    background-color: #003686; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 42vh;
    width: 90%;
}
.rodape-cima{
    height: 15vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    gap: 10%;
    
}


#certificado{
    height: 8vh;
    width: 9vw;
    border: solid 0.2vw black;
    border-radius: 0.7vw;
}
.rodape-baixo{
    height: 30vh;
    width: 85%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 1.5vh;
    font-size: 0.8vw;
}
.email{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 10vh;
    width: 35vw;
    margin-left: 10%;
    gap: 5%;
}
.email h2{
    color: white;
    font-size: 1vw;
    margin-bottom: 2%;
}
.input-email input{
    height: 3vh;
    width: 18vw;    
    border-radius: 0.4vw 0 0 0.4vw;
    background-color: white;   
    font-size: 1.5vw;
}
.input-email button{
    height: 3.5vh;
    width: 7vw;
    text-align: center;
    border-radius: 0 0.4vw 0.4vw 0;
    font-size: 1vw;
}
.input-email{
    display: flex;
    justify-content: center;
}

.linha-rodape{
    height: 2vh;
    width: 90%;
    background-color: white;
    margin-top: 0.5vh;
}
.pagamento {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    height: 27vh;
    width: 23vw;
    flex-direction: column;
    gap: 2vw;
}
#pagamento{
    height: 8vh;
    width: 7vw;
    border-radius: 0.7vw;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.rodape-copy{
    height: 8vh;
    width: 100%;
    background-color: #00196A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
}
.listaProdutos .item img{
    width: 10vw;
    height: 10vw;
}
.redes-sociais{
    height: 20vh;
    width: 22vw;
}

#redeSocial{
    height: 6.1vh;
    width: 4vw;
}

/*BOTÕES DA NAVBAR*/



/*--------------------------------------------------*/
.lupa-container {
    position: relative;
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.lupa-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.zoom-area {
    position: absolute;
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    border-radius: 50%;
    display: none; /* Esconde até o hover */
    overflow: hidden;
    cursor: none; /* Remove o ponteiro do mouse */
}

.zoom-area img {
    position: absolute;
    width: 200%; /* Aumenta o tamanho da imagem para o efeito de zoom */
    height: 200%;
}






#secret{
    color: #00196A;
}