@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
    transition: all 0.3s ease-in-out; 
}

body {
    margin: 0;
    font-family: Poppins;
    background-color: #e6e6e6;
}
body::-webkit-scrollbar {
    width: 12%;               
  } 
  
  body::-webkit-scrollbar-track {
    background: #003686;        
  }
  
  body::-webkit-scrollbar-thumb {
    background-color: rgb(255, 255, 255);    
    border-radius: 20px;      
    border: 3px solid #003686;  
  }
.navbar {              
    display: flex;
    align-items: center;
    width: 100%;
    height: 12%;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 100;
    
}

#navbar.rolagem {
    background-color: #003686;
    
}

#navbar.rolagem a {
    color: rgb(255, 255, 255);
    }

    #navbar.rolagem span {
        color: rgb(255, 255, 255);
        }

        #navbar.rolagem svg {
            color: rgb(255, 255, 255);
            }

.navbar img {
    background-color: transparent;
    margin-top: 2vh;
    margin-left: 2vw;
    width: 15vh;
    height: 3vw;  
}
.banner {
height: 100vh;
background-image: url(imagem/fundoInic.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
top: 0;
left: 0;

}

.navbar .topicos {
    width: 60vw;
    margin-left: 20vw;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: #ffffff;
    font-size: 1.5vw;
    position: fixed;
}
.topicos a:hover {
    color: #00a2ff;
    font-size: 2vw;  
}
.container{
    text-align: center;
    padding-top: 3%;
    transition: transform .5s;
}

svg{
    width: 2vw;
    color: #ffffff;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3% 0;
   
}
.iconeCarrinho{
    position: relative;
    cursor: pointer;
}

.iconeCarrinho :hover{
    color: #00a2ff;
    cursor: pointer;
}

.iconeCarrinho span{
    position: absolute;
    border-radius: 50%;
    color: rgb(255, 255, 255);;
    top: 70%;
    left: 97.5%;
    cursor: pointer;
   
}

.listaProdutos{
    margin: 2vh 0;
    height: 150vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}

.listaProdutos .item img{
    background-size: cover;
    filter: drop-shadow(0px 6px 13px #0000007e);
   
}
.listaProdutos .item img .sobrepor {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: #000;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 0.3s ease-in-out; 
  }
  

.container-lista{
    display: flex;
    justify-content: center;
    align-items: center;
}


.listaProdutos .item{
    background-color: #ffffff;
    border-radius: 2%;
    height: 35vh;
    width: 15vw;
    -webkit-box-shadow: inset 0px 0px 136px -121px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 136px -121px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 136px -121px rgba(0,0,0,0.75);
    transform-style: preserve-3d;
    transition: transform 0.8s;

}
.listaProdutos .item:hover{
    transform: scale(1.07);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);

}

.listaProdutos .item h2{
    font-size: 1vw;
    color: #00196A;
}
.listaProdutos .item .preco{
    font-size: 0.9vw;
    color: #00196A;
}
.listaProdutos .item button{
    background-color: #00196A;
    color: #eee;
    border: none;
    font-size: 1vw;
    padding: 1% 3%;
    margin-top:2.5vh;
    border-radius: 0.5vw;

}

.listaProdutos .item button:hover{
    cursor: pointer;
    border: solid #00196A 1px;
    background-color: #eee;
    color: #00196A;

}


/* cart */
.tabelaCarrinho{
    width: 25vw;
    background-color: #ffffff;
    color: #00196A;
    border: #00196A solid 0.1vw;
    position: fixed;
    top: 0;
    right: -40vw;
    bottom: 0;
    display: grid;
    grid-template-rows: 7vw 1fr 7vw;
    transition: .5s;
    z-index: 101;
    
    
}


body.mostrarCarrinho .tabelaCarrinho{
    right: 0; 

}
body.mostrarCarrinho .container{
    transform: translateX(-25vw);
    
}
.tabelaCarrinho h1{
    padding: 20px;
    margin: 0;
    font-size: 2vw;
}
.tabelaCarrinho .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.linha{
    height: 0.1vh;
    width: 20vw;
    background-color: #00196A;
    margin-top: 9vh;
    margin-left: 10%;
}

.tabelaCarrinho h3{
    font-size: 1vw;
    margin-left: 4vw;
    margin-bottom: 3vh;
    font-weight: 300;
}
#totalCarrinho{
    margin-top: -5%;
    margin-left: 3vw;
}

.tabelaCarrinho .close{
    background-color: #eee;
}

.listaCarrinho .item img{
    width: 100%;
}

.listaCarrinho .item{
    display: grid;
    font-size: 1vw;
    grid-template-columns: 10% 20% 5% 1fr;
    gap: 4%;
    text-align: center;
    align-items: center;
}
 #a{
   text-decoration: none;
   color: black;
}
.listaCarrinho .quantidade span{
    display: inline-block;
    width: 1.6vw;
    height: 3vh;
    background-color: #eee;
    border-radius: 50%;
    color: #00196A;
    cursor: pointer;
}
.listaCarrinho .quantidade span:nth-child(2){
    background-color: transparent;
    color: #00196A;
    cursor: auto;
}
.listaCarrinho .item:nth-child(even){
    background-color: #eee1;
    
}
.listaCarrinho{
    overflow: auto;
    
}
.listaCarrinho::-webkit-scrollbar{
    width: 0;
}



/*RODAPE*/


footer{
    height: 50vh;
    width: 100%;
    background-color: #003686; 
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10%;
}

.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 42vh;
    width: 90%;
}
.rodape-cima{
    height: 15vh;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1% 0;
    gap: 10%;
    
}


#certificado{
    height: 8vh;
    width: 9vw;
    border: solid 0.2vw black;
    border-radius: 0.7vw;
}
.rodape-baixo{
    height: 30vh;
    width: 85%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 1.5vh;
    font-size: 0.8vw;
}
.email{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    height: 10vh;
    width: 35vw;
    margin-left: 10%;
    gap: 5%;
}
.email h2{
    color: white;
    font-size: 1vw;
    margin-bottom: 2%;
}
.input-email input{
    height: 3vh;
    width: 18vw;
    border-radius: 1vw 0 0 1vw;
    background-color: white;   
    font-size: 1.5vw;
}
.input-email button{
    height: 3.5vh;
    width: 7vw;
    text-align: center;
    border-radius: 0 0.4vw 0.4vw 0;
    font-size: 1vw;
}
.input-email{
    display: flex;
    justify-content: center;
}

.linha-rodape{
    height: 2vh;
    width: 90%;
    background-color: white;
    margin-top: 0.5vh;
}
.pagamento {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 27vh;
    width: 23vw;
    flex-direction: column;
    gap: 2vw;
}
#pagamento{
    height: 8vh;
    width: 7vw;
    border-radius: 0.7vw;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.rodape-copy{
    height: 8vh;
    width: 100%;
    background-color: #00196A;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8vw;
}
.listaProdutos .item img{
    width: 10vw;
    height: 10vw;
}
.redes-sociais{
    height: 20vh;
    width: 22vw;
}

#redeSocial{
    height: 5vh;
    width: 4vw;
}

/*--------------------------------------*/


.tabelaCarrinho button{
    background-color: #ffffff;
    font-size: 1.5vw;
    color:#00196A;
    height: 8vh;
    width: 15vw;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border: #00196A solid 0.1vw;
}

 .tabelaCarrinho button:hover{
    cursor: pointer;
    color: white;
    background-color: #00196A;     
    
}

section.slider1{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
    
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
    
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
width: 100%;
background-size: contain;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 30.2%;
    display: flex;
    justify-content: center;
}

.nav-manual .manual-btn, .nav-auto div{
    border: 0.1vw solid #ffffff;
    padding: 0.5%;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 0.5%;
}

.nav-manual .manual-btn:hover{
    background-color: #0031d1;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #00196A;

}


#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}


/*********************SCROLL*******************************************************************/



/*

             ..                     .''.
            c  '.          _,,    .'    '
           ,     ,   ___  7###. .'       '
          .       `-'   ''|####;#'. .##, .
          ,               '####.##,######.
         .                 '  ' '' ,####.
        '                           '##'.
       '                                .
__,,--.--                                '
      '                                  '
  .--|-        &&                        -'-'''-.._
     |         '&              &&         '
    __,-                       '&        -'---.
  ''  ,                                   ;
       .             kk.                 -.-,_
        -_           ''KK                ;
          ''--,_                        ,
                ''--,__           __,,--'
                       ''--..,--''     Pr59

*/
/*****************************SCROLL*********************************/

@keyframes appear {


from{

opacity: 0;
scale: 0.5;

}
to {

opacity: 10;
scale: 1;

}
}

.item{

animation: appear linear;
animation-timeline: view();
animation-range: entry 0% 
cover 40%;

}

/****************************************************************************/
.theme-switch-wrapper {
    display: flex;
    align-items: center;
    z-index: 100;
    position: fixed;
    right: 5vw;
    top: 3%;
    position: fixed;
  }
  
  .theme-switch-wrapper span {
    position: absolute;
    width: 10vw;
    margin-right: 9vw;
    font-size: 1.5vw;
    margin-top: 0%;
  }
  
  .toggle-text {
    position: relative;
    right: 1vw;
    color: var(--on-background);
 
  }
  
  
  .theme-switch {
    display: inline-block;
    height: 6vh;
    position: relative;
    width: 6vw;
  }
  
  .theme-switch input {
    display: none;
  }
  
  .slider {
    background: #ccc;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
  }
  
  .slider::before {
    background: #fff;
    bottom: 1vh;
    content: "";
    height: 4vh;
    left: 0.4vw;
    position: absolute;
    transition: 0.4s;
    width: 2vw;
  }
  
  input:checked + .slider {
    background: var(--primary-color);
  }
  
  input:checked + .slider::before {
    transform: translateX(26px);
  }
  
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round::before {
    border-radius: 50%;
  }
  
  .fas {
    font-size: 30px;
    margin-right: 5px;
  }
  


.email input { 
    background-color: #eee;
}

.email button { 
    color: #000;
    background-color: #eee; 
}

.input-email button{ 
    background-color: #008CBA;  
    color: #FFF;
}





/* ---------------------------------------------- */
.busca{
display: flex;
align-items: center;
position: relative;
border: 0.1vw solid #00196A;
background-color: white;
width: 30vw;
margin:2vh auto;
border-radius: 2vw;
padding: 0.5% 1%;
color: black;
}

.busca button{
    text-decoration: none;
    background-color: white;
    border: none;
    cursor: pointer;
}

#buscaInput{
    padding: 0.8%;
    border: none;
    background-color: transparent;
    width: 100%;
    outline: none;
}

.busca label{
    height: 20px;
}
a{
    text-decoration: none;
    color: white;
}
.item hr{
    width: 80%;
    margin-left: 10%;
    opacity: 20%;
}










#secret{
    color: #00196A;
}