@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans';
}
body{
    margin: 0;
    font-family: Poppins;


}
.navbar{              
    display: flex;
    align-items: center;
    width: 100%;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    transition: .5s;
    z-index: 100;
    
}
#navbar.rolagem{
    background-color: #003686;
    
}

#navbar.rolagem a{
    color:rgb(255, 255, 255);
    }
    #navbar.rolagem span{
        color:rgb(255, 255, 255);
        }
        #navbar.rolagem svg{
            color:rgb(255, 255, 255);
            }
.navbar img{
    background-color: transparent;
    margin-top: 16px;
    margin-left: 90px;
    width: 160px;
    height: 50px;  
}
.banner{
height: 100vh;
background-image: url(imagem/fundoInic.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
top: 0;
left: 0;

}
.navbar .topicos{
    width: 60%;
    margin-left: 7.5%;
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    color: rgb(0, 24, 80);
    font-size: 23px;
}
.navbar .topicos :hover{
color: rgb(255, 255, 255);
cursor: pointer;
opacity: 0.5;
transform: scale(1.5);
transition: 0.5s ease;
}
.container{
    text-align: center;
    padding-top: 10px;
    transition: transform .5s;
}
svg{
    width: 30px;
    color: rgb(0, 24, 80);;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
   
}
.iconeCarrinho{
    position: relative;
}
.iconeCarrinho span{
    position: absolute;

    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: rgb(0, 24, 80);;
    top: 50%;
    right: -20px;
   
}
.titulo{
    font-size: 30px;
    background-color: rgb(0, 217, 255);
    border-radius: 15px;
    color: white;
    width: 250px;
}

.listaProdutos{
    margin: 30px 0px;
    height: 150vh;
    width: 70vw;
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    flex-wrap: wrap;
}
.listaProdutos .item img{
    height: 0;
    width: 0;
}


.container-lista{
    display: flex;
    justify-content: center;
    align-items: center;
}


.listaProdutos .item{
    background-color: #EEEEE6;
    border-radius: 10px;
    height: 35vh;
    width: 15vw;
}


.listaProdutos .item h2{
    font-weight: 500;
    font-size: large;
}
.listaProdutos .item .preco{
    font-size: small;
}
.listaProdutos .item button{
    background-color: #353432;
    color: #eee;
    border: none;
    padding: 5px 10px;
    margin-top: 10px;
    border-radius: 20px;
}




/* cart */
.tabelaCarrinho{
    width: 400px;
    background-color: #ffffff;
    color: #00196A;
    border: #00196A solid 1px;
    position: fixed;
    top: 0;
    right: -400px;
    bottom: 0;
    display: grid;
    grid-template-rows: 70px 1fr 70px;
    transition: .5s;
    z-index: 101;
    
    
}
body.mostrarCarrinho .tabelaCarrinho{
    right: 0; 

}
body.mostrarCarrinho .container{
    transform: translateX(-250px);
    
}
.tabelaCarrinho h1{
    padding: 20px;
    margin: 0;
    font-weight: 300;
}
.tabelaCarrinho .btn{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.linha{
    height: 1px;
    width: 300px;
    background-color: #00196A;
    margin-top: 50px;
    margin-left: 10%;
}


.tabelaCarrinho h3{
    font-size: 23px;
    margin-left: 40px;
    margin-bottom: 30px;
    font-weight: 300;
}

.tabelaCarrinho .close{
    background-color: #eee;
}
.listaCarrinho .item img{
    width: 100%;
}
.listaCarrinho .item{
    display: grid;
    grid-template-columns: 70px 150px 50px 1fr;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.listaCarrinho .quantidade span{
    display: inline-block;
    width: 25px;
    height: 25px;
    background-color: #eee;
    border-radius: 50%;
    color: #00196A;
    cursor: pointer;
}
.listaCarrinho .quantidade span:nth-child(2){
    background-color: transparent;
    color: #00196A;
    cursor: auto;
}
.listaCarrinho .item:nth-child(even){
    background-color: #eee1;
    
}
.listaCarrinho{
    overflow: auto;
    
}
.listaCarrinho::-webkit-scrollbar{
    width: 0;
}
@media only screen and (max-width: 992px) {
    .listaProdutos{
        grid-template-columns: repeat(3, 1fr);
    }
}




/* mobile */
@media only screen and (max-width: 768px) {
    .listaProdutos{
        grid-template-columns: repeat(2, 1fr);
    }
}


/*RODAPE*/


footer{
    height: 500px;
    width: 100%;
    background-color: #003686;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 180px;
}
.rodape{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 420px;
    width: 90%;
}
.rodape-cima{
    height: 150px;
    width: 90%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 5px 0;
    
}
#certificado{
    height: 120px;
    width: 240px;
    border: solid 2px black;
    border-radius: 10px;
}
.rodape-baixo{
    height: 300px;
    width: 85%;
    display: flex;
    justify-content: space-between;
    color: white;
    margin-top: 15px;
}
.email{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-direction: column;
    height: 100px;
    width: 350px;
    margin-left: 10px;
}
.email h2{
    display: flex;
    justify-content: flex-s;
    color: white;
    font-size: 18px;
    height: 18px;
    width: 378px;
    margin-bottom: 5px;
}
.input-email input{
    height: 35px;
    width: 300px;
    border-radius: 8px 0 0 8px;
    background-color: white;   
    font-size: 17px;
}
.input-email button{
    height: 39px;
    width: 77px;
    text-align: center;
    border-radius: 0 8px 8px 0;
    font-size: 15px;
}
.input-email{
    display: flex;
    justify-content: center;
}

button img{
    height: 15px;
    width: 15px;
}

.linha-rodape{
    height: 2px;
    width: 90%;
    background-color: white;
    margin-top: 5px;
}
.pagamento {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    height: 230px;
    width: 400px;
    flex-direction: column;
    gap: 10px;
}
#pagamento{
    height: 80px;
    width: 130px;
    border-radius: 12px;
}
.copyright{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.rodape-copy{
    height: 80px;
    width: 100%;
    background-color: #00196A;
    display: flex;
    justify-content: center;
    align-items: center;
}
.listaProdutos .item img{
    width: 10vw;
    height: 10vw;
}
.redes-socias{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    height: 200px;
    width: 200px;
}

#redeSocial{
    height: 85px;
    width: 85px;
}


.nome{
    padding: 5px;
    background-color: transparent;
    border-top:solid #00196A 1px;
    border-bottom:solid #00196A 1px;
    border-left: solid transparent;
    border-right: solid transparent;
}

.tabelaCarrinho button{
    background-color: #ffffff;
    font-size: 20px;
    color:#00196A;
    height: 80px;
    text-decoration: none;
    position: relative;
    overflow: hidden;
    border: #00196A solid 1px;
}

 .tabelaCarrinho button:hover{
    cursor: pointer;
    color: white;
    background-color: #00196A;     
    
}

section.slider{
    margin: 0 auto;
    width: 100%;
    height: auto;
    padding: 0 !important;
    overflow: hidden;
}

.slider-content{
    width: 400%;
    height: auto;
    display: flex;
}

.slider-content input, .img-mobile{
    display: none;
}

.slide-box{
    width: 25%;
    height: auto;
    position: relative;
    text-align: center;
    transition: 1s;
}

.slide-box img{
width: 100%;
background-size: contain;
}

.nav-manual, .nav-auto{
    position: absolute;
    width: 100%;
    margin-top: 30.2%;
    display: flex;
    justify-content: center;
}
/*

             ..                     .''.
            c  '.          _,,    .'    '
           ,     ,   ___  7###. .'       '
          .       `-'   ''|####;#'. .##, .
          ,               '####.##,######.
         .                 '  ' '' ,####.
        '                           '##'.
       '                                .
__,,--.--                                '
      '                                  '
  .--|-        &&                        -'-'''-.._
     |         '&              &&         '
    __,-                       '&        -'---.
  ''  ,                                   ;
       .             kk.                 -.-,_
        -_           ''KK                ;
          ''--,_                        ,
                ''--,__           __,,--'
                       ''--..,--''     Pr59

*/

.nav-manual .manual-btn, .nav-auto div{
    border: 1px solid #00196A;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: 0.2s;
}

.nav-manual .manual-btn:not(:last-child), .nav-auto div:not(:last-child){
    margin-right: 10px;
}

.nav-manual .manual-btn:hover{
    background-color: #00196A;
}

#radio1:checked ~ .nav-auto .auto-btn1, #radio2:checked ~ .nav-auto .auto-btn2, #radio3:checked ~ .nav-auto .auto-btn3{
    background-color: #00196A;

}

#radio1:checked ~ .primeiro{
    margin-left: 0%;
}

#radio2:checked ~ .primeiro{
    margin-left: -25%;
}

#radio3:checked ~ .primeiro{
    margin-left: -50%;
}

@media screen and (max-width: 900px) {
    .img-desktop{
        display: none;
    }

    .img-mobile{
        display: block;
    }

    .nav-auto, .nav-manual{
        margin-top: 60%;
    }
}



